<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>

        <nav>
            <a class="navbar-brand" href="#">Tech Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/homepage">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/dashboard">dashboard</a>
                    <a class="nav-item nav-link" href="/login">Login</a>
        </nav>
    </header>
    <main>
        <section class="homepage">
            {{{body}}}
        </section>
    </main>
</body>

</html>